

	<div class="row">
		<div class="large-12 columns">
			<h1 class="logo"><img src="img/layout/logo.png" alt="DIGGIN'DEEPER"></h1>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<h3 class="NexaSlab-Regular">
				Diggin'Deeper is a program recorded live, homemade, <br>
				with turntables, vinyls and passion. <br>
				Respect the music.
			</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<h5 class="NexaSlab-Light">
				Diggin'Deeper é andato in onda ogni martedi alle 17 su <a href="http://www.thegreatcomplottoradio.com/wordpress/info-podcast-diggin-deeper/">TheGreatComplottoRadio.com</a>. I podcasts delle due stagioni 2013/2014 sono interamente riascoltabili su <a href="https://www.mixcloud.com/Diggin_Deeper/">Mixcloud.com</a>
      </h5>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<p class="NexaSlab-Light">
				SUPPORT US on our <a href="http://facebook.com/DigginDeeperPodcasts">Facebook page</a>
			</p>
		</div>
	</div>
